*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body{

  background-color:rgb(149, 145, 150);


}



body,html{

  font-family: sans-serif;
 
  background-image: url('menu.jpg');
  background-size: cover;
 
  
}


.header{

font-size:20px;
color:greenyellow;
place-items: center;
display: grid;
padding-top: 50px;
    
}



.container{

  padding-top: 100px;
  padding-left: 30px;
  place-items: center;
  margin:0;
  padding-top: 100px;
  font-family: sans-serif;
  display: grid;


}


.btn1,.btn2,.btn3,.btn4{

  outline: none;
  width: 120px;
  display:block;
  font-size:16px;
  padding:16px 30px;
  border-radius:30px;
  color: red;
  background-color:black;
  cursor: pointer;
  transition:all 0.5s linear;
  border-color: black;
  border-width: 0px;
}

.btn5{

  outline: none;
  display:block;
  border:solid 1px blue;
  font-size:16px;
  padding: 10px;
  margin-left: 30px;
  border-radius:30px;
  margin-top: -30px;
  background: red;
  color: black;
  cursor: pointer;
  transition:all 0.5s linear;
  font-family: sans-serif;
  border-color: black;


}

.btn6{

  outline: none;
  display:block;
  border:solid 1px blue;
  font-size:16px;
  padding: 10px;
  margin-left: 30px;
  border-radius:30px;
  margin-top: -30px;
  background: black;
  color:red;
  cursor: pointer;
  height:57px;
  transition:all 0.5s linear;
  font-family: sans-serif;
  border-color: black;


}


.btn1:hover,
.btn1:focus{

  background: blue;
  color: white;
}

.btn1:active{

  
  background: blue;
  color: white;

}

.btn2:hover,
.btn2:focus{

  background:red;
  color: white;
}

.btn2:active{

  
  background: rgb(255, 187, 0);
  color: white;

}

.btn3:hover,
.btn3:focus{

  background:rgb(102, 255, 0);
  color: white;
}

.btn3:active{

  
  background: rgb(0, 247, 255);
  color: white;

}

.btn4:hover,
.btn4:focus{

  background:rgb(255, 0, 221);
  color: white;
}

.btn4:active{

  
  background: rgb(234, 0, 255);
  color: white;

}


.btn5:hover,
.btn5:focus{

  background:rgb(248, 232, 4);
  color: white;
}

.btn5:active{

  
  background: rgb(145, 34, 77);
  color: white;

}


.btn6:hover,
.btn6:focus{

  background:rgb(248, 232, 4);
  color: white;
}

.btn6:active{

  
  background: rgb(145, 34, 77);
  color: white;

}

